/* $Id: local-sample.css,v 1.1 2009/08/19 04:28:52 sociotech Exp $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */
@font-face {
    font-family: 'EksjaExtremesThin';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-thin-webfont.svg#webfont) format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'EksjaExtremesRegular';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-regular-webfont.svg#webfont) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EksjaExtremesBold';
    src: url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.eot);
    src: local('☺'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.woff) format('woff'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.ttf) format('truetype'), url(http://oregonstate.edu/osuhomepage/css/fonts/Eksja/Eksja-bold-webfont.svg#webfont) format('svg');
    font-weight: normal;
    font-style: normal;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}


/*--------------------------------Search-------------------------------------
---------------------------------------------------------------------------*/

  #block-views--exp-taxonomy_search-default {
    overflow: visible;
  }
  
  #block-views--exp-taxonomy_search-default div.views-exposed-widgets {
    float: right;
  }
  
  #block-views--exp-taxonomy_search-default div.views-exposed-widgets div.views-exposed-widget {
    padding: 0.5em 0 0 0;
  }

  #block-views--exp-taxonomy_search-default div.views-exposed-widgets {
    float: right;
  }
  
  #block-views--exp-taxonomy_search-default div.views-exposed-widgets div.views-exposed-widget {
    padding: 0.5em 0 0 0;
  }
  
  a:link, a:hover, a:active, a:visited
  {
    color: #0f7d85;
  }
/*------------------------------Primary Menu---------------------------------
---------------------------------------------------------------------------*/
#megamenu-primary-links {
  padding: 0;
  margin: 0;
  text-align: center;
}
#block-megamenu-0 > .inner {
  margin-left: 15px;
  margin-right: 15px;
}
.megamenu-menu, .megamenu-parent {
  z-index: 100 !important;
}
.megamenu-skin-minimal {
  background-color: transparent;
}

.megamenu-skin-minimal .megamenu-title {
  font-size:100%;
  font-weight:normal;
}

.megamenu-skin-minimal .megamenu-bin {
  background-color:#fefefe;
  border: 1px solid #999;
  -moz-border-radius:0.583em;
  -webkit-border-radius:0.583em;
  border-radius:0.583em;
  -moz-border-radius-topleft:0;
  -webkit-border-top-left-radius:0;
  border-top-left-radius:0;
  -moz-border-radius-topright:0;
  -webkit-border-top-right-radius:0;
  border-top-right-radius:0;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2),0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2),0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.2),0px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

.megamenu-skin-minimal .megamenu-slot {
  margin-right: 8px;
  border-bottom: none;
  list-style-type: none;
}
.megamenu-skin-minimal .megamenu-slot, .megamenu-skin-minimal .megamenu-items, .megamenu-skin-minimal .megamenu-item {
  list-style-type: none;
  list-style-image: none;
}
.megamenu-skin-minimal .megamenu-slot-title,
.megamenu-skin-minimal .megamenu-slot-title a {
  color:#333; /* white */
  font-size:100%;
  text-align:center;
  text-transform:uppercase;
}
.megamenu-skin-minimal .megamenu-parent-title a {
  font-family: 'EksjaExtremesRegular';
  color: #fff !important;
  text-decoration: none !important;
  line-height: 37px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}
.megamenu-skin-minimal .megamenu-link {
  font-size:85%;
}
#megamenu-mlid-894 .megamenu-bin { /* contents */
  width: 644px !important;
}
#megamenu-mlid-894 .megamenu-bin > li {
  margin-top: 8px !important;
  padding-bottom: 8px !important;
  padding-right: 4px !important;
}
.megamenu-bin {
  text-align: left;
}
.megamenu-bin > li:first-child {
  margin-left: 8px;
}
.megamenu-bin li {
  line-height: 22px !important;
}
.megamenu-bin h3, .megamenu-bin a {
  font-size: 11px !important;
}
#megamenu-mlid-894 .megamenu-bin > li.last {
  margin-top: 1em;
}
.megamenu-slot-title {
  background-color: transparent !important;
  text-transform: none !important;
  text-align: left !important;
  font-weight: bold !important;
  margin-bottom: 4px !important;
}
.megamenu-item a {
  color: #333;
  text-decoration: none !important;
}
.megamenu-item a:hover {
  color: #0F7D85;
}

/* hack to make biological control and problem weeds look like section title */
li#megamenu-mlid-1253.megamenu-item,
li#megamenu-mlid-1314.megamenu-item {
  margin-top: 1em;
}

li#megamenu-mlid-1253.megamenu-item a.menu-1253,
li#megamenu-mlid-1314.megamenu-item a.menu-1314 {
  font-weight: bold !important;
}


/*---------------------------Overall Theme Look------------------------------
---------------------------------------------------------------------------*/

  body {
    background: none repeat scroll 0 0 #EDECEC;
  }
  
  h1, h2 {
    font-family: 'EksjaExtremesRegular';
    color: #0f7d85;
  }

  .header-primary-menu-wrapper {
    border: none;
  }
  
  #header-group-inner {
    width: 960px;
    height: 139px;
    margin: auto;
  }
  
  #login-button {
    float: right;
    text-align: center;
    position: relative;
    margin-right: 13px;
  }
  
  #login-button a.login-link {
    position: relative;
    top: 8px;
    text-decoration: none !important;
    margin-right: 3px;
  }
  
  #login-button a.logout-link {
    position: relative;
    top: 8px;
  }

  .breadcrumbs .inner {
    border: none;
    background-color: transparent;
    margin-left: 10px !important;
  }
  .breadcrumb a {
    padding: 0px 5px;
  }
  
  #preface-top-wrapper {
    background: url("../images/eesc/banner_shadow.png") repeat-x scroll 0 0;
  }

  #preface-top-inner {
    background: url("../images/eesc/header_menu_bg.png") no-repeat 0 0;
    height: 38px;
  }
  #header-site-info-inner {
    margin: 0;
  }
  
  #site-name-slogan {
    position: relative;
    top: 15px;
    left: 25px;
  }
    
  #main {
    background: inherit;
  }
  
  .footer-wrapper, .footer-message-wrapper {
    background: none;
  }
  
  #footer-message-inner {
    padding-top: 30px;
    color: #EDECEC;
  }

  .copyright {
    position: relative;
    width: 808px;
    padding-top: 21px;
    margin: auto;
    font-size: 70%;
  }
 
  #preface-top {
    padding: 0;
  }
  
  #header-group-inner {
    padding: 0 0 5px;
  }
  
  #main-wrapper {
    padding: 10px 0;
  }
  
  #postscript-bottom {
    padding: 0.5em 0 0;
  }
  
  #block-menu-primary-links {
    margin-bottom: 0.5em;
  }

  #footer-message-inner {
    margin-left: 20px;
  }
  
  .pnw-publication {
    float: left;
    margin-left: 55px;
  }
  
  #footer-message a:link,
  #footer-message a:visited {
    color: #EDECEC;
  }

  .emergency-info {
    float: left;
    margin-left: 45px;
  }
    
  .handbooks {
    float: left;
    margin-left: 105px;
  }
  
  .row,
  .nested,
  .block {
    overflow: visible;
  }  
  
  .block .inner {
    margin-left: 20px;
    margin-right: 20px;
  }  
  
  
/*------------------------------Related Links--------------------------------
---------------------------------------------------------------------------*/
  
  div.view-links-display li {
    padding: 5px 0 5px 0;
    list-style-type: none;
    border-bottom: 1px solid #737373;
  }
  
  div.view-links-display li.views-row-last {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  div.view-links-display li.views-row-first {
    padding-top: 0;
  }
  
  div.view-links-display ul {
    margin: 0;
  }


/*-----------------------------Photo Galleries-------------------------------
---------------------------------------------------------------------------*/

  .views-field-field-pictures-fid {
    float: left;
    padding: 0 10px 10px 0;
  }

  div.return-link {
    float: right;
  }
  

/*-----------------------Order Printed Handbook Page-------------------------
---------------------------------------------------------------------------*/
  
  #ordering-info-table td {
    border: none !important;
  }
  
  #ordering-info-table p {
    margin: 0;
  }
  
  #ordering-info-table p.state {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }
  
  div.ordering-information p.header {
    font-weight: bold;
    font-size: 1.25em;
  }
  
  
/*----------------------------Section Contents-------------------------------
---------------------------------------------------------------------------*/
  
  div.view-section-contents div.view-title {
    font-size: 110%;
    font-weight: bold;
  }  


/*--------------------------Websites of Interest-----------------------------
---------------------------------------------------------------------------*/

  p.indented {
    margin: 0 0 0 20px;
  }
  
  p.no-bottom-margin {
    margin-bottom: 0;
  }

  
/*--------------------------------Other--------------------------------------
---------------------------------------------------------------------------*/  

  #pid-weed-management-options-quick-guide p.body-text-oblique,
  #pid-using-pesticides-safely p.body-text-oblique,
  p.x-no-paragraph-style- {
    margin: 0;
  }
  
  #pid-disclaimer h1.title {
    visibility: hidden;
    font-size: 0.01em;
    margin: 0;
  }
  
  p.space-above {
    margin: 1em 0 0 0;
  }
  
  table {
    border-collapse: collapse;
  }
  
  thead {
    background: #D0D0D0;
  }
  
  td {
    border: 1px black solid;
    margin: 0;
  }
  
  div.node-type-pnw_article table {
    font-size: 95%;
  }
  
  div.node table {
    margin-bottom: 1em;
  }
  
  #content-content .inner table {
    display: block;
    max-width: 95%;
    overflow-x: auto;
    margin-top: 1em;
  }
  a {
    outline: none !important;
  }
  #sidebar-first h2 {
    font-size: 140%;
  }
  #block-google_cse-0 h2,
  #block-search-0 h2 {
    font-size: 120%;  
  }
  .form-submit{
    background-image: url('../images/eesc/button_bg.png');
    border: 1px solid #9E9E9E;
  }
  #sidebar-first .block-book .menu {
    margin-right: 15px;
  }
  p.table-footer  {
    font-size: 1em;
  }
  #google-cse-searchbox-form .form-item input {
    background-image: none !important;
  }
  #sidebar-first .block-book li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin-left: -7px;
  }
  #sidebar-first .block-book li.leaf a {
    display: block;
    background: url('../images/eesc/li-icon-side.jpg') left top no-repeat;
    padding-left: 17px;
    padding-bottom: 4px;
    margin-left: -10px;
  }
  ul.arrow {
    margin-top: 4px;
  }
  ul.arrow li {
    margin-top: 10px;
    list-style-image: url('../images/eesc/li-icon-main.jpg');
  }
  ul.arrow li p {
    vertical-align: top;
    
  }
  
  #node-373 p.list-dash-indented,
  #node-373 p.table-text-vertical {
    font-size: 1em;
  }
  
  /* handbook announcement styles */
  div.announcement {
    background-color: #fff;
    background-image: url("../images/eesc/announcement-icon.png");
    background-position: 5px 1.0em;
    background-repeat: no-repeat;
    border: 2px solid #0E7D85;
    color: #000000;
    min-height: 32px;
    padding: 0 5px 5px 50px;
    text-transform: none;
  }
 
  div.view-handbook-announcement  div.view-content h3 {
    margin: 0.75em 0 0 0;

  }

  div.views-field-field-pnw-announcement-text-value div.field-content p {
    margin: 0.5em 0;
  }


/* Lightbox */

#hoverNav,
#outerImageContainer,
#imageContainer {
-moz-border-radius: 5px 5px 0px 0px;
-webkit-border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
}

#imageDataContainer,
#imageData {
-moz-border-radius: 0px 0px 5px 5px;
-webkit-border-radius: 0px 0px 5px 5px;
border-radius: 0px 0px 5px 5px;
}
#imageDataContainer {
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 15px;
}
/* multiselect module override */
ul#multiselect_btns {
	margin: 10px 10px 0;
}


#bottomNavClose {
	/*margin-right: -6px;
	margin-top: -6px;*/
	margin-right: -8px;
	margin-top: -8px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
#lightbox, #outerImageContainer, #modalContainer {
	overflow: visible !important;
}


/*--Start pager style override--*/
ul.pager {
  background: none;
  border: 1px solid #cecece;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
ul.pager * {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 0 !important;
	height: 0 !important;
	width: 0 !important;
	text-indent: 0 !important;
	background-image: none !important;
	background-color: #fff !important;
	color: #666 !important;
}
ul.pager li, ul.pager li a {
	display: block !important;
	float: left !important;
}
ul.pager li.pager-item, ul.pager li.pager-first, ul.pager li.pager-previous, ul.pager li.pager-next, ul.pager li.pager-last {
	height: 16px !important;
	width: 20px !important;
	margin: 0 2px !important;
}
ul.pager li.pager-current, ul.pager li a {
	border: 1px solid #C6C8C9 !important;
	border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	-ms-border-radius: 2px !important;
	-o-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
}
ul.pager li.pager-current {
	line-height: 38px !important;
	height: 27px !important;
	width: 20px !important;
	margin: -10px 0 0 2px !important;
	border-top: none !important;
}
ul.pager li a {
	line-height: 16px !important;
	height: 16px !important;
	width: 20px !important;
}
ul.pager li.pager-first a, ul.pager li.pager-previous a, ul.pager li.pager-next a, ul.pager li.pager-last a {
	font-size: 18px !important;
	font-weight: normal !important;
	line-height: 13px !important;
}
@-moz-document url-prefix() {
	ul.pager li.pager-first a, ul.pager li.pager-previous a, ul.pager li.pager-next a, ul.pager li.pager-last a {
		line-height: 12px !important;
	}
}
ul.pager li a:hover {
	background-color: #666 !important;
	border-color: #333 !important;
	color: #FFF !important;
}
ul.pager a.views-throbbing {
	color: #fff !important;
}
	/*--Start pager animation control--*/
	@keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-webkit-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-moz-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-o-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	@-ms-keyframes throb
	{
		0% {background-color: auto;}
		100% {background-color: #D85a1a;}
	}
	ul.pager a.views-throbbing
	{
	  border-color: #333 !important;
	  
		animation-name: throb;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 0.25s;
		animation-direction: alternate;
	
		-webkit-animation-name: throb;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-duration: 0.25s;
		-webkit-animation-direction: alternate;
	
		-moz-animation-name: throb;
		-moz-animation-timing-function: ease-in-out;
		-moz-animation-iteration-count: infinite;
		-moz-animation-duration: 0.25s;
		-moz-animation-direction: alternate;
	
		-o-animation-name: throb;
		-o-animation-timing-function: ease-in-out;
		-o-animation-iteration-count: infinite;
		-o-animation-duration: 0.25s;
		-o-animation-direction: alternate;
	
		-ms-animation-name: throb;
		-ms-animation-timing-function: ease-in-out;
		-ms-animation-iteration-count: infinite;
		-ms-animation-duration: 0.25s;
		-ms-animation-direction: alternate;
	}
	/*--End pager amination control--*/
/*--End pager style override--*/

  p.See-also-link,
  p.See-also-Link,
  p.See-also-text,
  p.See-also-Text,
  p.See-also-Intro,
  p.See-also-intro,
	p.See-link {
    margin: 0;
  }

form#search-block-form input.form-text {
  color: #0F7D85;
  font-style: italic;
  font-size: 100%;
}
