/* $Id: plant.css,v 1.0 2011/09/16 */

/*---------------------------Overall Theme Look------------------------------
---------------------------------------------------------------------------*/

html {
  background-color: #1E4457;
}

#header-group-wrapper {
  background: url("../images/eesc/plant/banner.png") repeat scroll 0 0 #1E4457;
}

#header-group {
  background: url("../images/eesc/plant/header_main.png") no-repeat scroll center transparent;
  height: 139px;
  width: 100%;
}

#main-footer-wrapper {
  background: transparent url("../images/eesc/plant/footer_sides.png") repeat-x scroll 0 15px;
  height: 152px;
  margin: auto;
  border-bottom: 1px solid #627d90;
}

#footer-message-wrapper {
  background: url("../images/eesc/plant/footer_main.png") no-repeat scroll 0 15px;
  height: 152px;
  width: 960px;
  margin: auto;
}

#footer-gradient {
  background: url("../images/eesc/plant/footer_gradient.png") repeat-x scroll 0 0;
  height: 77px;
}

.copyright {
  color: #91B0C6;
}

.copyright a {
  color: #91B0C6 !important;
}


/*-------------------------------Other CSS-----------------------------------
---------------------------------------------------------------------------*/

.node .content {
  clear: both;
}

.Glossary-Text {
  margin-left: 2em;
  text-indent: -1em;
}


/*-----------------------------Dropdown Menu---------------------------------
---------------------------------------------------------------------------*/

.megamenu-slots-columnar {
  width: auto !important;
  white-space:nowrap;
}

#megamenu-mlid-1879 .megamenu-slots-columnar {
  width: 550px !important;
}

#megamenu-mlid-1879 .megamenu-slot-title a {
  font-weight: bold !important;
}

.megamenu-slots-columnar li {
  width: auto !important;
  margin-left: 8px !important;
}

.megamenu-skin-minimal .megamenu-slot-title,
.megamenu-skin-minimal .megamenu-slot-title a {
  background-color: transparent !important;
  text-transform: none !important;
}

.megamenu-slots-columnar li.megamenu-slot,
#megamenu-mlid-1879 .half-1 .megamenu-item,
#megamenu-mlid-1879 .half-2 .megamenu-item {
  float: none !important;
}

#megamenu-mlid-1879 .half-1 {
  float: left !important;
}

#megamenu-mlid-2067 {
  margin-left: 245px !important;
}

/*----------------------------Indesign-Created CSS---------------------------
---------------------------------------------------------------------------*/
.leftFloat {
  float: left;
}

.rightFloat {
  float: right;
}

span.Text---Bold-Italic {
  font-weight: bold;
  font-style: italic;
}

span.Text-bold {
  font-weight: bold;
}

span.Text-italics {
  font-style: italic;
}

span.Subscript {
  vertical-align: sub;
}

span.Cultivar-Table-Head---superscript {
  vertical-align: super;
}

span.Key-Table-Superscript {
  vertical-align: super;
}

span.Cultivar-Head-Bold-Oblique {
  font-weight: bold;
  font-style: italic;
}

p.Section-Head {
  font-variant: small-caps;
  text-align: center;
}

p.Article-Title {
  font-variant: small-caps;
  font-weight: bold;
  font-size: 1.25em;
}

p.Cultivar-Table-Row-Heads {
  font-weight: bold;
}

p.Cultivar-Table-Head {
  font-weight: bold;
}

p.Cultivar-Table-Head-Centered {
  font-weight: bold;
  text-align: center;
}

p.Cultivar-Table-Text- {
  text-align: center;
}

p.Authors-Byline {
  font-variant: small-caps;
}

p.Article-Main-Head {
  font-size: 1.5em;
  font-weight: bold;
  font-variant: small-caps;
}

p.Article-SubHead {
  font-weight: bold;
  font-variant: small-caps;
}

p.Article-References {
  text-indent: -15px;
  margin-left: 15px;
}

p.Letter-List {
  text-indent: -15px;
  margin-left: 15px;
}

table {
  border-collapse: collapse;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  display: table !important;
  width: auto !important;
}

.H---O-Code-letters {
  border: 1px solid #000000;
  font-size: 75%;
}

.Superscript---Text {
  vertical-align: super;
  font-size: 75%;
}